* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
    background: #e7e3e3;
}
::-webkit-scrollbar{
    display: none;
}
.notFound{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15em;
    padding-block: 1.5em;
    background: #4a4747;
}
a {
    text-decoration: none;
    color: #f2f1f1;
    font-size: 1.2em;
    text-transform: uppercase;
    opacity: .5;
}
a.active {
    opacity: 1;
}
.home {
    display: flex;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1cdcd;
    position: relative;
}
.home h1{
    font-weight: 600;
    font-size: 2.5em;
}
.home p{
    position: absolute;
    bottom: 2em;
    font-size: 1.2em;

}
.posts_container {
    padding-inline: 6em;
    padding-block: 4em;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}
.posts_container .post_card {
    width: calc((100% - 4em) / 2);
    background: #fff8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 1em;
    padding: 1em;
    opacity: 1;
    color: #1d1d1d;
}
.posts_container .post_card :hover{
    opacity: .5;
}
.post_card h5{
    margin-bottom: 0.5em;
}
.post_card h4 {
    font-weight: 600;
    margin-bottom: 1.5em;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;

}
.post_card p {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    font-size: .9em;
}
.singlePost {
    padding-inline: 2em;
    padding-block: 4em;
    display: flex;
    overflow: hidden;
    .image_container {
        width: 50%;
        height: 70vh;
        img {
            width: 100%;
            height: 100%;
            object-fit:contain;
        }
    }
    .r_container {
        width: 50%; 
        padding-inline: 2em;
        padding-block: 2em;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        gap: 1em;
        flex-wrap: wrap;
        .category {
            color: silver;
            margin-bottom: .5em;
        }
        h2{
            font-weight: 700;
            font-size: 1.5em;
            margin-bottom: .5em;
        }
    }
    .price {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: .5em;
    }
    .adding{
        display: flex;
        gap: 1em;
        margin-bottom: 1em;
    }
    .btn {
        padding: 1em 2em;
        text-align: center;
        background: rgb(255, 123, 0);
        color: #f2f1f1;
        border: none;
        outline: none;
        border-radius: .5em;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
    }
    .counter{
        border: 1px solid #1d1d1d;
        padding: 0 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.1em;
    }
    .details {
        font-weight: 650;
        font-size: 1.2em;
        margin-bottom: .5em;
    }
    .desc{
        font-size: larger;
        line-height: 1.5em;
        overflow: hidden;
        flex-wrap: wrap;
    }
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    width: 100%;
}
.loading svg {
    font-size: 3em;
    animation: loading 1s linear infinite alternate;
}

@keyframes loading {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width:1024px) {
    .posts_container{
        padding-inline: 1.5em;
    }
    .posts_container .post_card{
        width: calc((100% - 2em) / 2);
    }
}
@media (max-width:768px) {
    .posts_container .post_card{
        width: 100%;
    }
}